<div id='generalContainer'>
<app-searchline
  (searchTyped)="applyFilter($event)">
</app-searchline>

<div *ngIf="!isLoaded" id='Loader'>
<mat-progress-spinner
  color='primary'
  mode='indeterminate'
  diameter='200'>
</mat-progress-spinner>
</div>

<table mat-table *ngIf="isLoaded" [dataSource]="songList" class="mat-elevation-z8">
  <ng-container matColumnDef="index">
    <th mat-header-cell *matHeaderCellDef>Index</th>
    <td mat-cell [ngClass]="{'favorite': song.favorite}" *matCellDef="let song"><h2>{{song.index}}</h2></td>
  </ng-container>
  <ng-container matColumnDef="cover">
    <th mat-header-cell *matHeaderCellDef>Album Cover</th>
    <td mat-cell [ngClass]="{'favorite': song.favorite}" *matCellDef="let song"><img [src]="song.coverURL" alt=""></td>
  </ng-container>
  <ng-container matColumnDef="info">
    <th mat-header-cell *matHeaderCellDef>Song Info</th>
    <td mat-cell [ngClass]="{'favorite': song.favorite}" *matCellDef="let song">
      <div>
        <h3>{{song.title | uppercase}}</h3>
        <p>{{song.subtitle}}</p>
      </div>
    </td>
  </ng-container>
  <ng-container matColumnDef="link">
      <th mat-header-cell *matHeaderCellDef>Link To Shazam</th>
      <td mat-cell [ngClass]="{'favorite': song.favorite}" *matCellDef="let song">
        <a [href]="song.link" target="_blank"><img class="logo" src="../../assets/shazlogo.png" alt=""></a>
      </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Favorite</th>
    <td mat-cell [ngClass]="{'favorite': song.favorite}" *matCellDef="let song">
      <button mat-raised-button (click)="onFavorite(song)">{{song.favorite ? 'Remove from favorites' : 'Add to favorites'}}</button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="dispColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: dispColumns"></tr>
</table>
</div>
